*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color:rgb(32, 64, 86);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 24px;
    
}
h1 {
    font-weight: bold;
}
header p {
    font-style: italic;
}
.menu-area li a {
    text-decoration: none;
    color: rgb(32, 64, 86);
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding: 0 27px;
    font-size: 14px;
    line-height: 30px;
    position: relative;
    z-index: 1;
    background-color: #405d70;
}
.menu-area li {
    list-style: none;
    display: inline-block;
    background-color: #405d70;
    
}
.custom-padding {
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
}
nav {
    position: relative;
    padding: 10px 20px 0px 10px;
    text-align: left;
    z-index: 1;
    background-color: #405d70; 
    margin: 0 auto;
    width: calc(100%-60px);
}
.menu-area li a:hover {
    background: tomato;
    color: rgb(219, 216, 216);
}
nav:before{
    position: absolute;
    content: '';
    left: 0;
    top: 100%;
    border-top: 10px solid #405d70;
    border-right: 10px solid #405d70;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
nav:after {
    position: absolute;
    content: '';
    border-top: 10px solid #405d70;
    border-left: 10px solid #405d70;
    border-right: 10px solid transparent;
    border-bottom: 10px solid transparent;
    top:100%;
    right: 0;
}
body {
    background-color:#F7F7F7;
    color: #405d70;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: tomato;
}
main {
    padding: 10px 10px;
    margin: 10px 10px;
}
#ski-career ul {
   
    list-style: circle;
    list-style-position: inside;
    text-indent: 1em;
}    
#olympic-pic img{
    position: relative;
    bottom: 19.77px;
    display: block;
    margin: 0 auto;
    padding: 0px 0px;
    width: 99.9%;
}
#beyond-skiing ul {
    list-style: circle;
    list-style-position: inside;
    text-indent: 1em;
}
#beyond-skiing a{
    color: pink;
}
#beyond-skiing a:hover {
    color: tomato;
    
}
.grow {
    transition: all .2s ease-in-out;
}

.grow:hover {
    font-size: 20px;
}
#video iframe {
    padding: 2px 0px;
   
    display: inline-block;
}
#photos img{
    display: inline-block;
    height: 350px;
    width: auto;
    padding: 10px 5px;
    margin: 0 auto;
}
.writing {
    max-width: 75%;
    text-align: justify;

}
.writing img{
    float: right;
    height: 900px;
    padding top: 10px;
    padding-left: 10px;
}
